#status-image {
  width: 200px;
  height: 80px;
}
#hum-speed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.city:hover {
  background-color: gray;
  cursor: pointer;
}
